/*Start Global rules */
:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --main-transition: 0.3s;
  --main-padding: 100px;
  --section-color: #ebeced;
  --border-color: #ccc;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.html {
  scroll-behavior: smooth;
  width: 100vw !important;
  font-family: "Cairo", sans-serif;
}

ul {
  list-style: none;
}

header {
  width: 100% !important;
  z-index: 2;
  max-width: 100% !important;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.scroller {
  background-color: #0075FF;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
  width:0;
  height: 5px;
  }
  .error {
    font-family: sans-serif;
    color: red;
    margin-top: -20px;
  }
  .submit-btn {
    width: 80%;
    margin-top: 20px;
    padding: 10px 20px;
    background: transparent;
    background: rgb(255, 90, 123);
    cursor: pointer;
    border: none;
    color: #fff;
    font-weight: bold;
  }

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.articels-title {
  background-color: white;
  border: 4px solid black;
  text-transform: uppercase;
  padding: 20px;
  width: 250px;
  text-align: center;
  margin: 0 auto;
  font-size: 2rem;
  position: relative;
  z-index: 2;
  color: black;
  margin-bottom: var(--main-padding);
  margin-top: var(--main-padding);
}

.articels-title::before,
.articels-title::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  background-color: var(--main-color);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.articels-title:before {
  left: -20%;
}
.testimonials .articels-title::before {
  left: -10%;
}
.testimonials .articels-title::after {
  right: -10%;
}
.articels-title:hover {
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  color: white;
  border: 1px solid white;
  background-color: var(--main-color);
}
.articels-title:hover::before {
  animation: left-move 0.5s linear forwards;
  -webkit-animation: left-move 0.5s linear forwards;
}

@keyframes left-move {
  0% {
    left: 0%;
  }
  30% {
    left: 0%;
  }
  60% {
    left: 0%;
    width: 40px;
    height: 40px;
  }
  100% {
    left: 0%;
    width: 100%;
    height: 100%;
    border-radius: 0%;
    -webkit-border-radius: 0%;
    -moz-border-radius: 0%;
    -ms-border-radius: 0%;
    -o-border-radius: 0%;
    z-index: -1;
  }
}
.articels-title:hover::after {
  animation: right-move 0.5s linear forwards;
  -webkit-animation: right-move 0.5s linear forwards;
}
@keyframes right-move {
  0% {
    right: 0%;
  }
  30% {
    right: 0%;
  }
  60% {
    right: 0%;
    width: 40px;
    height: 40px;
  }
  100% {
    right: 0%;
    width: 100%;
    height: 100%;
    border-radius: 0%;
    -webkit-border-radius: 0%;
    -moz-border-radius: 0%;
    -ms-border-radius: 0%;
    -o-border-radius: 0%;
    z-index: -1;
  }
}
.articels-title::after {
  right: -39px;
}
.articels-title:hover {
  transition-delay: 0.2s;
}

.spikes {
  position: relative;
}
.spikes::before {
  content: "";
  position: absolute;
  right: 0;
  width: 100%;
  height: 30px;
  z-index: 1;
   background-image: linear-gradient(135deg, white 25%, transparent 25%), 
    linear-gradient(225deg, white 25%, transparent 25%);
  background-size: 30px 30px;
}
/*End Global rules */

/**Start Header */
header {
  box-shadow: 0 0 10px #ddd;
  position: relative;
  background-color: white;
  height: 104px;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
  height: 100%;
}
@media (max-width: 767px) {
  header .container {
    position: relative;
  }
  header .container .main-nav {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
  header .container > .logo {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
}
header .container > .logo {
  color: var(--main-color);
  font-weight: 900;
  height: 84px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
}

@media (max-width: 767px) {
  header .container > .logo {
    font-size: 20px;
    width: 100%;
    height: 50%;
  }
}

header .container .main-nav {
  display: flex;
  justify-content: flex-end;
  align-self: center;
  flex: 1;
}
@media (max-width: 767px) {
  header .container .main-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }
}

header .main-nav > li > a {
  display: flex;
  height: 84px;
  align-items: center;
  justify-content: center;
  padding: 1px 20px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  z-index: 2;
  position: relative;
  color: black;
  font-size: 24px;
}

@media (max-width: 767px) {
  header .main-nav > li > a {
    font-size: 14px !important;
    padding-top: 15px;
    padding-bottom: 15px;
    height: 150%;
    align-items: center;
    justify-content: center;
  }
  header .main-nav > li > a::before {
    content: "" !important;
    position: absolute !important;
    top: 0% !important;
  }
}

header .main-nav > li > a::before,
header .main-nav > li > a {
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

header .main-nav > li > a::before {
  content: "";
  height: 3px;
  background-color: var(--main-color-alt);
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
}
@media (max-width: 767px) {
  header .main-nav > li > a::before {
    top: -10px;
  }
}

header .main-nav > li:hover a {
  background-color: rgb(249, 249, 249);
  color: var(--main-color);
}

header .main-nav > li:hover > a::before {
  width: 100%;
}

header .container .other-links {
  width: 100%;
  cursor: pointer;
}

header .container .mega-menu {
  position: absolute;
  width: 120%;
  height: 400px;
  background-color: #fcfcfc;
  border-bottom: 1px solid var(--main-color);
  top: 140%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  opacity: 0;
  justify-content: space-between;
  transition: opacity, top var(--main-transition);
  -webkit-transition: opacity, top var(--main-transition);
  -moz-transition: opacity, top var(--main-transition);
  -ms-transition: opacity, top var(--main-transition);
  -o-transition: opacity, top var(--main-transition);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  cursor: pointer;
}

@media (max-width: 767px) {
  header .container .mega-menu {
    display: flex;
    flex-direction: column;
    top: 140%;
    opacity: 0;
  }
}

header .container .mega-menu div img {
  margin-left: 20px;
}

@media (max-width: 767px) {
  header .container .mega-menu div img {
    margin-left: 15px;
    width: calc(100% - 30px);
  }
}

header .container .mega-menu.show {
  opacity: 1;
  top: 100%;
  display: flex;
}

header .container .mega-menu .links > li {
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  background-color: white;
  position: relative;
  z-index: 1;
}

@media (max-width: 767px) {
  header .container .mega-menu .links li {
    width: 100%;
    height: 100%;
  }
}

header .container .mega-menu .links li > a {
  display: flex;
  position: relative;
  color: var(--main-color-alt);
}

@media (max-width: 767px) {
  header .container .mega-menu .links > li > a {
    font-size: 14px;
    margin-left: 15px;
    position: relative;
    height: 70px;
    padding: 10px;
  }
}

header .container .mega-menu li > a > i {
  margin-right: 10px;
  color: var(--main-color-alt);
}

header .container .mega-menu .links {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  flex-basis: 22%;
}

header .container .mega-menu .links div {
  flex-basis: 40%;
}

header .container .mega-menu .links li {
  flex-basis: 17%;
  position: relative;
  height: 64px;
}

header .container .mega-menu .links li::after {
  content: "";
  bottom: 20%;
  width: 250px;
  height: 1px;
  background-color: var(--main-color);
  position: absolute;
  z-index: 1;
}

header .container .mega-menu .links > li > a {
  position: relative;
  height: 80%;
  width: 100%;
  display: flex;
  align-items: center;
}

header .container .mega-menu .links > li > a::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0%;
  transition: var(--main-transition);
  top: 0;
  left: 0;
  background-color: #ebeced;
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

@media (max-width: 767px) {
  header .container .mega-menu .links > li > a::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    transition: 3s;
    top: 0;
    left: 0;
    background-color: #ebeced;
    -webkit-transition: 3s;
    -moz-transition: 3s;
    -ms-transition: 3s;
    -o-transition: 3s;
  }
}

header .container .mega-menu .links > li > a {
  width: fit-content;
  font-size: 20px;
  width: 100%;
  font-weight: bold;
}

header .container .mega-menu .links > li > a i {
  font-size: 20px;
  margin-left: 15px;
}

header .container .mega-menu .links > li:hover > a::before {
  width: 100%;
  z-index: -1;
}

@media (max-width: 767px) {
  header .container .mega-menu .links > li:hover > a::before {
    width: 63% !important;
    z-index: -1;
  }
}

/**End Header */

/* Start landing */
.landing {
  padding-top: var(--main-padding);
  padding-bottom: calc(var(--main-padding) - 34px);
  background-color: var(--section-color);
  position: relative;
  margin-bottom: 165px;
  max-width: 100%;
  width: 100%;
}
@media (max-width: 767px) {
  .landing {
    padding-top: calc(var(--main-padding) + 150px);
  }
  .landing .container .introduction {
    margin: 0 auto;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .landing .container .introduction h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px !important;
    width: 350px;
    letter-spacing: 1;
  }
  .landing .container .introduction p {
    display: flex !important;
    justify-content: center;
    font-size: 22px !important;
    width: 350px;
    /* padding-left: 20px; */
  }
}
@media (max-width: 767px) {
  .landing .container .home-image {
    display: none;
  }
}
.landing::after {
  content: "";

  width: 100%;
  height: 100%;
  background-color: var(--section-color);
  bottom: -8%;
  position: absolute;
  transform: skew(289deg, -5deg);
  left: 0%;
  transform: skew(360deg, -363deg);
  -webkit-transform: skew(360deg, -363deg);
  -moz-transform: skew(360deg, -363deg);
  -ms-transform: skew(360deg, -363deg);
  -o-transform: skew(360deg, -363deg);
  z-index: -1;
}
.landing .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.landing .container .home-image {
  animation-name: up-down;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 4s;
}
@keyframes up-down {
  0% {
    transform: translateY(-10%);
    -webkit-transform: translateY(-10%);
    -moz-transform: translateY(-10%);
    -ms-transform: translateY(-10%);
    -o-transform: translateY(-10%);
  }
  100% {
    transform: translateY(10%);
    -webkit-transform: translateY(10%);
    -moz-transform: translateY(10%);
    -ms-transform: translateY(10%);
    -o-transform: translateY(10%);
  }
}
.landing .container .home-image img {
  width: 600px;
  max-width: 100%;
}
.landing .container .introduction {
  width: 100%;
}
.landing .container .introduction h1 {
  font-size: 50px;
  letter-spacing: -2px;
}
.landing .container .introduction p {
  font-size: 28px;
  line-height: 1.7;
  margin: 5px 0 0;
  color: #666;
}
.arrow {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: -20%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  animation-name: up-down-arrow;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 1s;
}
.arrow .i {
  margin-bottom: -18px;
  color: var(--main-color);
  font-size: 30px;
  font-weight: 900;
}
.arrow-up-container {
  position: relative;
  right: 10%;
}
.arrow-up {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 10%;
  right: 10%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  animation-name: up-down-arrow;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 2s;
}
.arrow-up .i {
  margin-bottom: -20px;
  color: var(--main-color);
  font-size: 30px;
  font-weight: 900;
}
@keyframes up-down-arrow {
  0% {
    transform: translateY(-40%);
    -webkit-transform: translateY(-40%);
    -moz-transform: translateY(-40%);
    -ms-transform: translateY(-40%);
    -o-transform: translateY(-40%);
  }
  25% {
    transform: translateY(60%);
    -webkit-transform: translateY(60%);
    -moz-transform: translateY(60%);
    -ms-transform: translateY(60%);
    -o-transform: translateY(60%);
  }
  50% {
    transform: translateY(-40%);
    -webkit-transform: translateY(-40%);
    -moz-transform: translateY(-40%);
    -ms-transform: translateY(-40%);
    -o-transform: translateY(-40%);
  }
  100% {
    transform: translateY(60%);
    -webkit-transform: translateY(60%);
    -moz-transform: translateY(60%);
    -ms-transform: translateY(60%);
    -o-transform: translateY(60%);
  }
}
/* End landing */
/* !Start Articles */

.articles {
  background-color: white;
  margin-top: 80px;
  padding: 0 76px;
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  margin-top: var(--main-padding);
  max-width: 100%;
  width: 100%;
}
@media (max-width: 767px) {
  .articles {
    display: grid;
    grid-template-columns: 375px;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 767px) {
  .articles .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 767px) {
  .articles .container .articels-title {
    margin-bottom: var(--main-padding);
  }
}
.portfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(255px, 1fr));

  gap: 40px;
}

.articles .portfolio-content .col {
  text-align: start;
  background-color: white;
  box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  position: relative;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  /* for responsive mobile */
  max-width: 100%;
}
.articles .portfolio-content .col:hover {
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}
.portfolio-content .col img {
  max-width: 100%;
  width: 100%;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}
.portfolio-content .col .srv {
  max-width: 100%;
  background-color: white;
}
.portfolio-content .col .srv .text {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 50%;
  padding: 0 2px 20px;
}
.portfolio-content .col .srv .text h3 {
  margin: 0;
  color: var(--secondary-color);
  font-size: 23px;
  padding: 15px;
}
.portfolio-content .col .srv .text p {
  color: #777;
  line-height: var(--main-text-height);

  padding: 15px;
}

.articles .portfolio-content .col .read-more {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.articles .portfolio-content .col .read-more i {
  font-size: 13px;
  color: var(--main-color);
}
.articles .portfolio-content .col .read-more p {
  font-weight: bold;
  color: var(--main-color);
}

/* !End Articles */
/* todo: Start Galley */
.gallery {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  background-color: var(--section-color);
  max-width: 100%;
  position: relative;
  width: 100%;
}
@media (max-width: 767px) {
  .gallery .container {
    padding-right: 45px;
  }
}
.gallery .imgs-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .gallery .imgs-container .box {
    flex-basis: calc(50% - 40px);
    margin-bottom: 40px;
  }
}
@media (min-width: 1199px) {
  .gallery .imgs-container .box {
    flex-basis: calc(calc(100% / 3) - 40px);
    margin-bottom: 40px;
  }
}

.gallery .imgs-container .box:hover .image-wrapper img {
  transform: rotateZ(1deg) rotatez(3deg) scale(1.1);
  -webkit-transform: rotateZ(1deg) rotatez(3deg) scale(1.1);
  -moz-transform: rotateZ(1deg) rotatez(3deg) scale(1.1);
  -ms-transform: rotateZ(1deg) rotatez(3deg) scale(1.1);
  -o-transform: rotateZ(1deg) rotatez(3deg) scale(1.1);
  overflow: hidden;
  perspective: 400px;
  perspective-origin: center center;
  overflow: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
  max-width: 100%;
}
.gallery .imgs-container .box .image-wrapper {
  position: relative;
  background-color: white;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
}

.gallery .imgs-container .box {
  box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%),
    0px 2px 4px 0px rgb(0 0 0 / 12);
  background-color: white;
  padding: 15px;
  position: relative;
  perspective: 400px;
  perspective-origin: center center;
  overflow: hidden;
}
.gallery .imgs-container .box .image-wrapper img {
  max-width: 100%;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  position: relative;
  z-index: 2;
}
.gallery .imgs-container .box::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255 255 255 / 10%);
  width: 0%;
  height: 0%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  z-index: 99;
  opacity: 0;
}
.gallery .imgs-container .box:hover::before {
  animation: flashing 0.7s;
  -webkit-animation: flashing 0.7s;
  animation-fill-mode: forwards;
}
.gallery .imgs-container .box:focus::before {
  opacity: 1;
}
@keyframes flashing {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.7;
    width: 100%;
    height: 100%;
  }
  100% {
    opacity: 1;
    width: 100%;
    height: 100%;
  }
}

/* todo: End Galley */

/* !Start Features */
.features {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  position: relative;
  background-color: white;
  width: 100%;
  max-width: 100%;
}
@media (max-width: 767px) {
  .features .container {
    padding-right: 45px;
  }
}

.features .container .features-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}

.features .container .features-container > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #ccc;
}
.features .container .features-container > div > .image-container-features {
  position: relative;
  overflow: hidden;
}
.features
  .container
  .features-container
  > div
  > .image-container-features
  > img {
  max-width: 100%;
}
.features
  .container
  .features-container
  > div
  > .image-container-features::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.features
  .container
  .features-container
  > .box-1
  > .image-container-features::before {
  content: "";
  background-color: rgba(244, 64, 54, 60%);
}
.features
  .container
  .features-container
  > .box-2
  > .image-container-features::before {
  content: "";
  background-color: rgb(0 150 136 / 60%);
}
.features
  .container
  .features-container
  > .box-3
  > .image-container-features::before {
  content: "";
  background-color: rgb(3 169 244 / 60%);
}
.features
  .container
  .features-container
  > div
  > .image-container-features::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-style: solid;
  border-width: 0px 0px 170px 500px;
  border-color: transparent transparent white transparent;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.features
  .container
  .features-container
  > div:hover
  .image-container-features::after {
  border-width: 170px 500px 170px 0px;
}

.features .container .features-container div > h1 {
  text-align: center;
  position: relative;
}
.features .container .features-container div > h1::after {
  content: "";
  bottom: -20px;
  position: absolute;
  text-align: center;
  width: 30%;
  height: 4px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.features .container .features-container div > h1.quality-1::after {
  background-color: #f44036;
}
.features .container .features-container div > h1.quality-2::after {
  background-color: #009688;
}
.features .container .features-container div > h1.quality-3::after {
  background-color: #03a9f4;
}
.features .container .features-container div > p {
  color: #777;
  padding: 20px;
  text-align: center;
  line-height: 2;
  font-size: 20px;
}
.features .container .features-container div > a {
  width: 100px;
  height: 50px;
  margin: 0 auto 26px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.features .container .features-container > div a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  height: 100%;
  width: 0;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  z-index: -1;
}
.features .container .features-container div > .more-1::before {
  background-color: #f44036;
}
.features .container .features-container div > .more-2::before {
  background-color: #009688;
}
.features .container .features-container div > .more-3::before {
  background-color: #03a9f4;
}
.features .container .features-container div > a.more-1 {
  color: #f44036;
  border: 4px solid #f44036;
}
.features .container .features-container div > a.more-2 {
  color: #009688;
  border: 4px solid #009688;
}
.features .container .features-container div > a.more-3 {
  color: #03a9f4;
  border: 3px solid #03a9f4;
}
.features .container .features-container > div:hover a::before {
  width: 100%;
}

.features .container .features-container > div:hover a {
  position: relative;
  color: white;
  z-index: 1;
}
/* !End Features */
/**Start testimonials  */
.testimonials {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  position: relative;
  background-color: var(--section-color);
  max-width: 100%;
  width: 100%;
}
.testimonials .articels-title {
  width: 250px;
}
.testimonials .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: 200px 200px;
  gap: 40px;
}
@media (max-width: 767px) {
  .testimonials .container {
    padding-right: 45px;
  }
}
.testimonials .container .box {
  border: 1px solid transparent;
  padding: 20px;
  position: relative;
  background-color: white;
}
.testimonials .container .box::before {
  content: "";
  top: -58px;
  right: -10px;
  position: absolute;
  background-color: var(--section-color);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  border-color: transparent transparent white transparent;
  z-index: 1;
}
.testimonials .container .box img {
  width: 80px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: absolute;
  right: 2px;
  top: -50px;
  z-index: 1;
  max-width: 100%;
}
.testimonials .container .box h2 {
  font-size: 1.17rem;
  margin: 0 0 10px;
}
.testimonials .container .box p:first-of-type {
  color: #777;
  margin-bottom: 10px;
}
.testimonials .container .box p:last-of-type {
  line-height: 1.5;
  color: #777;
  margin-top: 10px;
  margin-bottom: 0;
}
.testimonials .container .box .start-container-4 i:not(:last-child) {
  position: relative;
  color: #ffc107;
  font-weight: 900;
}
.testimonials .container .box .start-container-6 i {
  position: relative;
  color: #ffc107;
  font-weight: 900;
}
.testimonials .container .box .start-container-3 i:nth-child(-n + 3) {
  position: relative;
  color: #ffc107;
  font-weight: 900;
}

/**End testimonials  */
/*start Team Members */
.team-members {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  position: relative;

  width: 100%;
  max-width: 100%;
}
.team-members .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  column-gap: 120px;
  row-gap: 40px;
}
@media (max-width: 767px) {
  .team-members .container {
    padding-right: 45px;
  }
}
.team-members .container .box {
  height: 460px;
  background-color: var(--section-color);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  position: relative;
}
.team-members .container .box::before {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  width: 0;
  height: 100%;
  background-color: #e0e0e0;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.team-members .container .box:hover::before {
  width: 100%;
}
.team-members .container .box:hover img {
  filter: grayscale(100%);
  max-width: 100%;
}
.team-members .container .box .social-midea-link {
  display: flex;
  position: absolute;
  flex-direction: column;
  right: 7%;
  top: 28%;
}
.team-members .container .box .social-midea-link i {
  font-size: 16px;
  color: #666;
  font-weight: 900;
  padding-bottom: 30px;
}
.team-members .container .box img {
  width: 300px;
  height: 300px;
  aspect-ratio: 1/1;
  position: absolute;
  top: 10%;
  left: -20%;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  max-width: 100%;
}
@media (max-width: 767px) {
  .team-members .container .box img {
    left: 4%;
  }
}
.team-members .container .box h2 {
  color: #1787e0;
  position: absolute;
  bottom: 10%;
  left: 7%;
}
.team-members .container .box p {
  color: #777;
  position: absolute;
  bottom: 5%;
  left: 7%;
}
/*End Team Members */

/** Start Services */
.services {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  position: relative;
  background-color: var(--section-color);
  width: 100%;
  max-width: 100%;
}
.services .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 40px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 767px) {
  .services .container {
    padding-right: 45px;
  }
}
.services .container .box {
  background-color: white;
  height: 250px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}

.services .container .box:hover {
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}
.services .container .box::before {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  background-color: var(--main-color);

  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  top: 0;
}
.services .container .box:hover::before {
  animation-name: boder-top-left;
  animation: boder-top-left var(--main-transition) linear forwards;
  -webkit-animation: boder-top-left var(--main-transition) linear forwards;
}

.services .container .box::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: var(--main-color);
}
@keyframes boder-top-left {
  0% {
    left: 50%;
    top: 0%;
    width: 20%;
  }
  40% {
    left: 50%;
    top: 0%;
    width: 40%;
  }
  60% {
    left: 50%;
    top: 0%;
    width: 60%;
  }
  80% {
    left: 50%;
    top: 0%;
    width: 80%;
  }
  100% {
    left: 50%;
    top: 0%;
    width: 100%;
  }
}
@keyframes boder-top-right {
  0% {
    right: 50%;
    top: 0%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }
  40% {
    right: 20%;
    top: 0%;
  }
  80% {
    right: 5%;
    top: 0%;
  }
  0% {
    right: 0%;
    top: 0%;
  }
}
.services .container .box i {
  position: absolute;
  font-size: 60px;
  color: #d5d5d5;
  font-weight: 900;
  top: 15%;
}

.services .container .box h2 {
  color: var(--main-color);
}
.services .container .box a {
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 100%;
  background-color: #f9f9f9;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: var(--main-color);
  padding-right: 15px;
}
.services .container .box a::before {
  content: "";
  position: absolute;
  left: 25%;
  width: 50px;
  height: 100%;
  transform: skewX(-30deg);
  -webkit-transform: skewX(-30deg);
  -moz-transform: skewX(-30deg);
  -ms-transform: skewX(-30deg);
  -o-transform: skewX(-30deg);
  background-color: #d5d5d5;
  z-index: 1;
}
.services .container .box a::after {
  content: "01";
  position: absolute;
  width: 90px;
  height: 100%;
  background-color: var(--main-color);
  left: 0;
  color: white;
  font-size: 2em;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 20px;
}
.services .container .box a.two::after {
  content: "02";
}
.services .container .box a.three::after {
  content: "03";
}
.services .container .box a.foor::after {
  content: "04";
}
.services .container .box a.five::after {
  content: "05";
}
.services .container .box a.six::after {
  content: "06";
}
/** End Services */

/*!Start Our Skills  */
.our-skills {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  position: relative;
  background-color: white;
  width: 100%;
  max-width: 100%;
}

.our-skills .container {
  display: flex;
}
@media (max-width: 767px) {
  .our-skills .container {
    padding-right: 45px;
  }
}
@media (max-width: 767px) {
  .our-skills .container {
    display: flex;
    flex-direction: column;
  }
}
.our-skills .container img {
  width: 500px;
  height: 365px;
  max-width: 100%;
}
@media (max-width: 767px) {
  .our-skills .container img {
    width: 300px;
    height: 300px;
  }
}
.our-skills .container .Skills {
  flex: 1;
}
.our-skills .Skills .prog-holder {
  margin-bottom: 27px;
}
.our-skills .Skills .prog-holder h4 {
  margin-bottom: 15px;
  font-weight: bold;
}
.our-skills .Skills .prog {
  background-color: #dedadc;
  height: 30px;
}
.our-skills .Skills .prog span {
  display: block;
  background-color: var(--main-color);
  height: 100%;
  position: relative;
}
.our-skills .Skills .prog span::before {
  content: attr(data-progress);
  position: absolute;
  background-color: black;
  color: white;
  top: -40px;
  right: -18px;
  padding: 4px 0;
  width: 40px;
  text-align: center;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.our-skills .Skills .prog span::after {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 8px;
  border-color: black transparent transparent transparent;
  right: -8px;
  top: -13px;
}
/*!End Our Skills  */
/*todo Start How it works  */
.how-it-works {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  position: relative;
  background-color: var(--section-color);
  width: 100%;
  max-width: 100%;
}
.how-it-works .container {
  display: grid;
  grid-template-columns: 400px 1fr;
  column-gap: 150px;
}
@media (max-width: 767px) {
  .how-it-works .container {
    padding-right: 45px;
  }
}
@media (max-width: 767px) {
  .how-it-works .container {
    display: flex;
    flex-direction: column;
  }
}
.how-it-works .container img {
  max-width: 100%;
}

.how-it-works .container .buiseness-plan .box {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 150px;
  column-gap: 20px;
  align-items: center;
  background-color: #f6f5f5;
  padding: 20px;
  width: 600px;
  border: 2px solid white;
  margin-bottom: 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  position: relative;
  z-index: 1;
}
@media (max-width: 767px) {
  .how-it-works .container .buiseness-plan .box {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
.how-it-works .container .buiseness-plan .box::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  width: 0%;
  height: 0%;
  background-color: #ededed;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.how-it-works .container .buiseness-plan .box:hover::before {
  width: 100%;
  height: 100%;
  z-index: -1;
}
.how-it-works .container .buiseness-plan .box img {
  width: 80px;
  aspect-ratio: 1/1;
}

.how-it-works .container .buiseness-plan .box .text h2 {
  margin-bottom: 10px;
}
.how-it-works .container .buiseness-plan .box .text p {
  color: #777;
  line-height: var(--main-text-height);
  font-size: 18px;
  width: 420px;
}
@media (max-width: 767px) {
  .how-it-works .container .buiseness-plan .box .text p {
    width: 100%;
  }
}

/*todo End How it works  */
/** Start latest events */
.latest-events {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  position: relative;
  background-color: white;
  max-width: 100%;
  width: 100%;
}
.latest-events .container {
  display: grid;
  grid-template-columns: 340px 1fr;
  column-gap: 150px;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .latest-events .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 45px;
  }
}
.latest-events .container img {
  width: 450px;
}
@media (max-width: 767px) {
  .latest-events .container img {
    width: 300px;
  }
}
.latest-events .container .box {
  text-align: center;
  width: 690px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}
.latest-events .container .box .date-box {
  display: flex;
  max-width: 100%;
}
@media (max-width: 767px) {
  .latest-events .container .box .date-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.latest-events .container .box .date-box > div {
  width: 80px;
  height: 150px;
  border: 1px solid var(--section-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  font-size: 14px;
}
.latest-events .container .box .date-box > div > span {
  color: var(--main-color);
  font-size: 40px;
  font-weight: bold;
}
.latest-events .container .box .date-box > div:not(:last-child) {
  margin-right: 15px;
}
.latest-events .container .box .date-box > div::after {
  content: "";
  width: 100%;
  height: 1px;
  bottom: 25%;
  left: 0;
  position: absolute;
  background-color: var(--section-color);
}
@media (max-width: 767px) {
  .latest-events .container .box .text {
    display: flex;
    flex-direction: column;
    max-width: 300px;
  }
  .latest-events .container .box .text h3 {
    font-size: 18px;
  }
}
.latest-events .container .box .text {
  max-width: 100%;
}
.latest-events .container .box .text h3 {
  text-align: center;
  margin: 40px 0 0;
  font-size: 30px;
}
.latest-events .container .box .text p {
  text-align: center;
  line-height: 1.7;
  font-size: 19px;
  color: #777;
  margin-top: 15px;
}
.latest-events .input-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  position: relative;
  z-index: 1;
  height: 115px;
  width: 680px;
  background-color: var(--section-color);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 38px auto 0;
}
@media (max-width: 767px) {
  .latest-events .input-container {
    width: 350px;

    padding: 0 80px;
  }
}

.latest-events .input-container input {
  width: 500px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  height: 60px;
  padding: 20px;
  border: none;
}
.latest-events .input-container input:focus {
  outline: none;
}
.latest-events .input-container input:active {
  outline: none;
}
@media (max-width: 767px) {
  .latest-events .input-container input {
    width: 200px;
  }
}
.latest-events .input-container input::placeholder {
  color: #777;
}
.latest-events .input-container button {
  width: 100px;
  background-color: var(--main-color);
  color: white;
  height: 60px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border: none;
  margin-left: 20px;
}

.dots-down {
  bottom: 200px;
  left: 0;
}
.dots-up {
  top: 200px;
  right: 0;
}
.dots {
  /* background-image: url(@/public/dots.png); */
  height: 186px;
  width: 204px;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 1;
}
@media (max-width: 767px) {
  .dots {
    display: none;
  }
}
/** End latest events */

/*? Start Pricing plans  */
.pricing-plans {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  position: relative;
  background-color: var(--section-color);
  max-width: 100%;
  width: 100%;
}
.pricing-plans .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
  max-width: 100%;
}
@media (max-width: 767px) {
  .pricing-plans .container {
    padding-right: 45px;
  }
}
.pricing-plans .container .box {
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
  background-color: white;
  text-align: center;
  position: relative;
  z-index: 1;
  height: 733px;
  max-width: 100%;
}
.pricing-plans .container .box.advanced {
  transform: translateY(-50px);
  -webkit-transform: translateY(-50px);
  -moz-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  -o-transform: translateY(-50px);
}

.pricing-plans .container .box::before {
  content: "";
  left: 0;
  top: 0;
  background-color: #f6f6f6;
  height: 42%;
  position: absolute;
  width: 0%;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.pricing-plans .container .box:hover::before {
  width: 100%;
  z-index: -1;
}
.pricing-plans .container .box h2 {
  padding: 20px;
  position: relative;
}
.pricing-plans .container .box.box.advanced {
  position: relative;
}
.pricing-plans .container .box.box.advanced h2::before {
  content: "";
  position: absolute;
  top: 0;
  right: 20px;
  height: 150px;
  width: 40px;
  background-color: var(--main-color, --main-color-alt);
  color: white;
}
.pricing-plans .container .box.box.advanced h2::after {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 20px;
  border-color: transparent transparent white transparent;
  bottom: -83px;
  right: 20px;
}
.pricing-plans .container .box.box.advanced h2 span {
  color: white;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  display: block;
  position: absolute;
  top: 54px;
  right: -20px;
  font-size: 20px;
}
.pricing-plans .container .box img {
  width: 120px;
  aspect-ratio: 1/1;
  padding: 20px;
}
.pricing-plans .container .box .price {
  padding-bottom: 20px;
}
.pricing-plans .container .box .price > p:first-of-type {
  color: var(--main-color);
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 10px;
}
.pricing-plans .container .box .price > p:last-of-type {
  color: #777;
}
.pricing-plans .container .box .server-abilities::before {
  content: "";
  position: absolute;
  right: 0%;
  top: 42%;
  height: calc(100% - 42%);
  width: 0%;
  background-color: #f6f6f6;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.pricing-plans .container .box:hover .server-abilities::before {
  width: 100%;
}
.pricing-plans .container .box .server-abilities > div {
  padding: 20px;
  display: flex;
  align-items: center;
  position: relative;
}
.pricing-plans .container .box .server-abilities > div::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--section-color);
}
.pricing-plans .container .box .server-abilities > div > i {
  color: var(--main-color, --main-color-alt);
  font-weight: 900;
  font-size: 20px;
  margin-right: 15px;
}
.pricing-plans .container .box a {
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-color, --main-color-alt);
  border: 2px solid var(--main-color, --main-color-alt);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-weight: bold;
  margin: 40px auto;
  position: relative;
  z-index: 1;
}

/*? End Pricing  plans*/
/*!Start Top Videos */
.top-videos {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  position: relative;
  background-color: white;
  max-width: 100%;
  width: 100%;
}
@media (max-width: 767px) {
  .top-videos {
    margin-bottom: 200px;
  }
}
@media (max-width: 767px) {
  .top-videos .container {
    padding-right: 45px;
  }
}
.top-videos .container .holder {
  display: grid;
  grid-template-columns: 300px 838px;
  max-width: 100%;
  border: 1px solid #ddd;
  max-width: 100%;
}
@media (max-width: 767px) {
  .top-videos .container .holder {
    display: flex;
    flex-direction: column;
  }
}

.top-videos .container .top-videos-links .title {
  background-color: #f6f6f6;
  padding: 20px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
}
.top-videos .container .holder .top-videos-links .video-container {
  padding: 20px;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.top-videos .container .holder .top-videos-links .video-container:hover {
  background-color: #f6f4f4;
}
.top-videos
  .container
  .holder
  .top-videos-links
  .video-container:hover
  p:first-of-type {
  color: var(--main-color, --main-color-alt);
}
.top-videos
  .container
  .holder
  .top-videos-links
  .video-container
  p:first-of-type {
  margin-bottom: 10px;
}
.top-videos
  .container
  .holder
  .top-videos-links
  .video-container
  p:last-of-type {
  color: #777;
}
.top-videos .container .holder .thumbnail-video {
  background-color: var(--section-color);
  padding: 10px;
}
.top-videos .container .holder .thumbnail-video img {
  width: 100%;
}
.top-videos .container .holder .thumbnail-video .description-video {
  margin-top: 120px;
  background-color: white;
  padding: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
@media (max-width: 767px) {
  .top-videos .container .holder .thumbnail-video .description-video {
    margin-top: 10px;
  }
}
/*!End Top Videos */
/**Start Stats */
.stats {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  position: relative;
  background-color: var(--section-color);
  max-width: 100%;
  width: 100%;
  position: relative;
  /* background-image: url("@/public/stats.jpg"); */
  background-size: cover;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 500px;
}


.stats h2 {
  margin-bottom: 40px;
  font-size: 2.5em;
}
.stats .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(255 255 255 / 93%);
  z-index: 22;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.stats .container {
  position: relative;
  display: flex;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
}
.stats .container .box {
  color: white;
  padding: 50px;
  background-color: var(--transperant-color);
  margin-bottom: 20px;
  background-color: white;
  text-align: center;
  height: 192px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  position: relative;
}
@media (max-width: 767px) {
  .stats  {
    height: 1200px;
  }
}
.stats .container .box::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0%;
  width: 0px;
  background-color: var(--main-color, --main-color-alt);
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
.stats .container .box::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 0%;
  width: 0px;
  background-color: var(--main-color, --main-color-alt);
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
.stats .container .box:hover:before,
.stats .container .box:hover::after {
  height: 100%;
  width: 2px;
}
.stats .container .box:hover .number {
  color: black;
}
.stats .container .box:hover i {
  color: black;
}
.stats .container .box:hover em {
  color: var(--main-color, --main-color-alt);
}
.stats .container .box:not(:last-child) {
  margin-right: 20px;
}

.stats .container .box i {
  font-size: 30px;
  display: flex;
  color: rgb(83, 83, 83);
  justify-content: center;
  align-items: center;
  margin: 26px auto 10px;
  font-weight: bold;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
.stats .container .box .number {
  font-size: 50px;
  font-weight: bold;
  margin: 0 0 10px;
  color: rgb(71, 71, 71);
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

.stats .container .box em {
  font-size: 22px;
  color: rgba(33, 150, 243, 80%);
  font-weight: bold;
  padding-bottom: 20px;
}

/**End Stats */
/*todo: Start Discount */
.discount {
  display: grid;
  grid-template-columns: 700px 1fr;

  grid-template-rows: 700px;
  max-width: 100% ;
  width: 100%;
  padding-bottom: 100px;
}
@media (max-width: 767px) {
  .discount {
    padding-top: 300px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.discount .discount-description {
  background-color: var(--main-color, --main-color-alt);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 4px;
}
@media (max-width: 767px) {
  .discount div {
  }
}
.discount .discount-description h2 {
  color: white;
  font-weight: bold;
  font-size: 2.5em;
}
@media (max-width: 767px) {
  .discount .discount-description h2 {
    font-size: 2em;
  }
}

.discount .discount-description div pre {
  color: white;
  font-family: "Cairo", sans-serif;
  margin-top: 30px;
  font-size: 18px;
  font-weight: 600;
  line-height: 2;
  max-width: 100%;
  width: 100%;
}
.discount .discount-description div {
  width: 100%;
}
@media (max-width: 767px) {
  .discount .discount-description div {
  }
}
@media (max-width: 767px) {
  .discount .discount-description div pre {
    font-size: 12px;
    margin-left: -10px;
  }
}
.discount .discount-description img {
  width: 100%;
  height: 100%;
  
  
}
.discont-title {
  color: gainsboro;
  font-size: 24px;
  padding: 0 20px;
}
@media (max-width: 767px) {
  .discount .discount-description img {
    width: 30%;
    height: 40%;
    
    
  }
}
.discount .discount-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.discount .discount-form h2 {
  font-size: 40px;
  letter-spacing: -2px;
  padding-top: 50px;
  margin-bottom: 40px;
}

.discount .discount-form .content {
  height: 90%;
}
.discount .discount-form .content input {
  display: block;
  width: 300px;
  height: 50px;
  border-style: solid;
  border-color: transparent transparent #ccc transparent;
  border-width: 1px;
  background-color: #f9f9f9;
  margin-bottom: 30px;
  padding: 0 10px;
  outline: none;
  caret-color: var(--main-color);
}
.discount .discount-form .content input[name="needs"] {
  padding-top: 20px;
  padding-bottom: 200px;
}

.discount .discount-form .content a {
  display: block;
  width: 300px;
  height: 60px;
  background-color: var(--main-color, --main-color-alt);
  color: white;
  line-height: 60px;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 50px;
}
/*todo: End Discount */
/*!Start Footer */
footer {
  background-color: #191919;
  padding: 80px 0 150px;
  position: relative;
  max-width: 100%;
  width: 100%;
}
footer::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #444;
  bottom: 15%;
  left: 0;
}
@media (max-width: 767px) {
  footer::after {
    bottom: 8%;
  }
}
footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  row-gap: 60px;
  column-gap:40px;
  align-items: center;
}
footer .container .my-social-media-links {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  align-items: flex-start;
}
footer .container .my-social-media-links h2 {
  font-size: 3em;
  color: white;
  font-weight: bold;
  margin-bottom: 15px;
}
footer .container .my-social-media-links .social-media-icons {
  margin-bottom: 15px;
}

footer .container .my-social-media-links .social-media-icons .i {
  background-color: #313131;
  color: #b9b9b9;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 20px;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
footer
  .container
  .my-social-media-links
  .social-media-icons
  i.fa-facebook-f:hover {
  background-color: #1877f2;
}
footer
  .container
  .my-social-media-links
  .social-media-icons
  i.fa-twitter:hover {
  background-color: #1da1f2;
}
footer
  .container
  .my-social-media-links
  .social-media-icons
  i.fa-youtube:hover {
  background-color: #ff0000;
}
footer
  .container
  .my-social-media-links
  .social-media-icons
  i:not(:last-child) {
  margin-right: 5px;
}
footer .container .my-social-media-links div {
}
footer .container .my-social-media-links div > pre {
  color: #b9b9b9;
  line-height: 2;
  font-family: "Cairo", sans-serif;
  margin-left: -50px;
}

footer .container .important-links .link {
  display: flex;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #444;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
footer .container .important-links .link:hover {
  transform: translateX(5%);
  -webkit-transform: translateX(5%);
  -moz-transform: translateX(5%);
  -ms-transform: translateX(5%);
  -o-transform: translateX(5%);
}
footer .container .important-links .link .i {
  color: var(--main-color, --main-color-alt);
  margin-right: 10px;
}
footer .container .important-links .link p {
  color: #b9b9b9;
}
footer .container .business-info {
  margin-top: -66px;
}
footer .container .business-info div {
  display: flex;
  align-items: center;
  padding: 25px 10px 25px;
}
footer .container .business-info > div > .i {
  color: var(--main-color, --main-color-alt);
  margin-right: 10px;
  font-size: 26px;
}
footer .container .business-info > div > p {
  color: #b9b9b9;
}
footer .container .footer-gallery {
  align-self: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
footer .container .footer-gallery img {
  width: 78px;
  border: 3px solid white;
  margin: 2px;
}
footer > p {
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  color: var(--section-color);
  padding-top: 50px;
}
@media (max-width: 767px) {
  footer > p {
    bottom:3%;
  }
}
/*!End Footer */
